<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>To Do List</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <header>

        </header>
        <main>
            <section id="app">
                <h1>To Do List</h1>
                <section>
                    <div>
                        <ul>
                            <li v-for="(item,i) in toDoList">
                                <p :class="(item.done === true) ? 'itemDone' : ''" @click="invertDone(i)">{{item.text}}</p>
                                <p @click="removeTask(i)">X</p>
                            </li>
                        </ul>
                    </div>
                </section>
                <section>
                    <div>
                        <label for="toDoInput">New Item:</label>
                        <input id="toDoInput" type="text" v-model="newTaskInput" @keyup.enter="addNewTask(newTaskInput)">
                    </div>
                </section>
            </section>
        </main>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/script.js"></script>
    </body>
</html>